
doctype html
html(data-wf-page='5b5a6462a0faa63b886698f1', data-wf-site='5af7623984ec1b6843802fe7')
head
  meta(charset='utf-8')
  title Reset password
  meta(content='Reset password', property='og:title')
  meta(content='width=device-width, initial-scale=1', name='viewport')
  meta(content='Webflow', name='generator')
  link(href='/static/resetCSS.css', rel='stylesheet', type='text/css')
  script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js', type='text/javascript')
  script(type='text/javascript').
    WebFont.load({  google: {    families: ["Roboto:300,regular,500"]  }});
  script(src='https://use.typekit.net/utx4xvf.js', type='text/javascript')
  script(type='text/javascript').
    try{Typekit.load();}catch(e){}
  //if lt IE 9
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js', type='text/javascript')
  script(type='text/javascript').
    !function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);
  link(href='https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(href='https://daks2k3a4ib2z.cloudfront.net/img/webclip.png', rel='apple-touch-icon')
body
  .div-block-27
    .div-block-14-kkcopy
      h1.section-title-copy-copy Reset Password
      .form-block-3.w-form
        form#email-form(name='email-form', data-name='Email Form', method="POST")
          .row-info-copy.w-row
            .w-col.w-col-4
              label.field-label-3(for='name') New Password
              label.field-label-f5-copy(for='name') Confirm Password
            .w-col.w-col-8
              input#New-Password.text-input.w-input(type='password', maxlength='256', name='newPassword', data-name='New Password', required='')
              input#Confirm-Password.text-input.w-input(type='password', maxlength='256', name='password', data-name='Confirm Password', required='')
              button.save-button.w-button(type="submit", id="saveButton") Save
              h1(style="font-size: 100%")= message

        
  script(src='https://code.jquery.com/jquery-3.3.1.min.js', type='text/javascript', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
